wsdl/borrowingWs_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-.--><definitions targetNamespace="http://webservice.cereme.org/" name="borrowingWeb" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.cereme.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.cereme.org/" schemaLocation="borrowingWs.xsd"/>
    </xsd:schema>
  </types>
  <message name="init">
    <part name="parameters" element="tns:init"/>
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:initResponse"/>
  </message>
  <message name="findByBorrowingId">
    <part name="parameters" element="tns:findByBorrowingId"/>
  </message>
  <message name="findByBorrowingIdResponse">
    <part name="parameters" element="tns:findByBorrowingIdResponse"/>
  </message>
  <message name="findByMember">
    <part name="parameters" element="tns:findByMember"/>
  </message>
  <message name="findByMemberResponse">
    <part name="parameters" element="tns:findByMemberResponse"/>
  </message>
  <message name="makeAborrowing">
    <part name="parameters" element="tns:makeAborrowing"/>
  </message>
  <message name="makeAborrowingResponse">
    <part name="parameters" element="tns:makeAborrowingResponse"/>
  </message>
  <message name="endAborrowing">
    <part name="parameters" element="tns:endAborrowing"/>
  </message>
  <message name="endAborrowingResponse">
    <part name="parameters" element="tns:endAborrowingResponse"/>
  </message>
  <message name="extendAborrowing">
    <part name="parameters" element="tns:extendAborrowing"/>
  </message>
  <message name="extendAborrowingResponse">
    <part name="parameters" element="tns:extendAborrowingResponse"/>
  </message>
  <portType name="borrowingWs">
    <operation name="init">
      <input message="tns:init"/>
      <output message="tns:initResponse"/>
    </operation>
    <operation name="findByBorrowingId">
      <input message="tns:findByBorrowingId"/>
      <output message="tns:findByBorrowingIdResponse"/>
    </operation>
    <operation name="findByMember">
      <input message="tns:findByMember"/>
      <output message="tns:findByMemberResponse"/>
    </operation>
    <operation name="makeAborrowing">
      <input message="tns:makeAborrowing"/>
      <output message="tns:makeAborrowingResponse"/>
    </operation>
    <operation name="endAborrowing">
      <input message="tns:endAborrowing"/>
      <output message="tns:endAborrowingResponse"/>
    </operation>
    <operation name="extendAborrowing">
      <input message="tns:extendAborrowing"/>
      <output message="tns:extendAborrowingResponse"/>
    </operation>
  </portType>
  <binding name="borrowingWsPortBinding" type="tns:borrowingWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="init">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findByBorrowingId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findByMember">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="makeAborrowing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="endAborrowing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="extendAborrowing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="borrowingWeb">
    <port name="borrowingWsPort" binding="tns:borrowingWsPortBinding">
      <soap:address location="http://localhost:8084/digital-library-webservice/ws/borrowingWs"/>
    </port>
  </service>
</definitions>