wsdl/memberWs_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><!--Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><definitions targetNamespace="http://webservice.cereme.org/" name="memberWeb" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.cereme.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.cereme.org/" schemaLocation="memberWs.xsd"/>
    </xsd:schema>
  </types>
  <message name="init">
    <part name="parameters" element="tns:init"/>
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:initResponse"/>
  </message>
  <message name="findAll">
    <part name="parameters" element="tns:findAll"/>
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse"/>
  </message>
  <message name="isValidUser">
    <part name="parameters" element="tns:isValidUser"/>
  </message>
  <message name="isValidUserResponse">
    <part name="parameters" element="tns:isValidUserResponse"/>
  </message>
  <message name="findByUsername">
    <part name="parameters" element="tns:findByUsername"/>
  </message>
  <message name="findByUsernameResponse">
    <part name="parameters" element="tns:findByUsernameResponse"/>
  </message>
  <message name="updateMember">
    <part name="parameters" element="tns:updateMember"/>
  </message>
  <message name="updateMemberResponse">
    <part name="parameters" element="tns:updateMemberResponse"/>
  </message>
  <portType name="memberWs">
    <operation name="init">
      <input wsam:Action="http://webservice.cereme.org/memberWs/initRequest" message="tns:init"/>
      <output wsam:Action="http://webservice.cereme.org/memberWs/initResponse" message="tns:initResponse"/>
    </operation>
    <operation name="findAll">
      <input wsam:Action="http://webservice.cereme.org/memberWs/findAllRequest" message="tns:findAll"/>
      <output wsam:Action="http://webservice.cereme.org/memberWs/findAllResponse" message="tns:findAllResponse"/>
    </operation>
    <operation name="isValidUser">
      <input wsam:Action="http://webservice.cereme.org/memberWs/isValidUserRequest" message="tns:isValidUser"/>
      <output wsam:Action="http://webservice.cereme.org/memberWs/isValidUserResponse" message="tns:isValidUserResponse"/>
    </operation>
    <operation name="findByUsername">
      <input wsam:Action="http://webservice.cereme.org/memberWs/findByUsernameRequest" message="tns:findByUsername"/>
      <output wsam:Action="http://webservice.cereme.org/memberWs/findByUsernameResponse" message="tns:findByUsernameResponse"/>
    </operation>
    <operation name="updateMember">
      <input wsam:Action="http://webservice.cereme.org/memberWs/updateMemberRequest" message="tns:updateMember"/>
      <output wsam:Action="http://webservice.cereme.org/memberWs/updateMemberResponse" message="tns:updateMemberResponse"/>
    </operation>
  </portType>
  <binding name="memberWsPortBinding" type="tns:memberWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="init">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isValidUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findByUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMember">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="memberWeb">
    <port name="memberWsPort" binding="tns:memberWsPortBinding">
      <soap:address location="http://localhost:8084/digital-library-webservice/ws/memberWs"/>
    </port>
  </service>
</definitions>