wsdl/workWs_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><!--Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><definitions targetNamespace="http://webservice.cereme.org/" name="workWeb" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.cereme.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.cereme.org/" schemaLocation="workWs.xsd"/>
    </xsd:schema>
  </types>
  <message name="init">
    <part name="parameters" element="tns:init"/>
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:initResponse"/>
  </message>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="isValidByAuthor">
    <part name="parameters" element="tns:isValidByAuthor"/>
  </message>
  <message name="isValidByAuthorResponse">
    <part name="parameters" element="tns:isValidByAuthorResponse"/>
  </message>
  <message name="findWorkByAuthorContainsAndTitleContains">
    <part name="parameters" element="tns:findWorkByAuthorContainsAndTitleContains"/>
  </message>
  <message name="findWorkByAuthorContainsAndTitleContainsResponse">
    <part name="parameters" element="tns:findWorkByAuthorContainsAndTitleContainsResponse"/>
  </message>
  <portType name="workWs">
    <operation name="init">
      <input wsam:Action="http://webservice.cereme.org/workWs/initRequest" message="tns:init"/>
      <output wsam:Action="http://webservice.cereme.org/workWs/initResponse" message="tns:initResponse"/>
    </operation>
    <operation name="getAll">
      <input wsam:Action="http://webservice.cereme.org/workWs/getAllRequest" message="tns:getAll"/>
      <output wsam:Action="http://webservice.cereme.org/workWs/getAllResponse" message="tns:getAllResponse"/>
    </operation>
    <operation name="isValidByAuthor">
      <input wsam:Action="http://webservice.cereme.org/workWs/isValidByAuthorRequest" message="tns:isValidByAuthor"/>
      <output wsam:Action="http://webservice.cereme.org/workWs/isValidByAuthorResponse" message="tns:isValidByAuthorResponse"/>
    </operation>
    <operation name="findWorkByAuthorContainsAndTitleContains">
      <input wsam:Action="http://webservice.cereme.org/workWs/findWorkByAuthorContainsAndTitleContainsRequest" message="tns:findWorkByAuthorContainsAndTitleContains"/>
      <output wsam:Action="http://webservice.cereme.org/workWs/findWorkByAuthorContainsAndTitleContainsResponse" message="tns:findWorkByAuthorContainsAndTitleContainsResponse"/>
    </operation>
  </portType>
  <binding name="workWsPortBinding" type="tns:workWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="init">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isValidByAuthor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findWorkByAuthorContainsAndTitleContains">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="workWeb">
    <port name="workWsPort" binding="tns:workWsPortBinding">
      <soap:address location="http://localhost:8084/digital-library-webservice/ws/workWs"/>
    </port>
  </service>
</definitions>